/* App.css */

/* General Body Styling */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

/* Container Styling */
.container {
  max-width: 700px;
  margin: 40px;
  padding: 2.5rem;
  background-color: #f9f9f9;
  border: 5px double #007bff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading and Logo Styling */
h1 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007bff;
  font-weight: 700;
  margin-bottom: 2rem;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Form Styling */
form {
  background-color: transparent;
  padding: 2rem 0;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.form-control {
  padding: 0.75rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
  color: #333;
  background-color: #fff;
  margin-bottom: 20px; /* Add spacing between input and button */
}

button {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0 auto; /* Center the button with extra margin */
}

button:hover {
  background-color: #0056b3;
  color: white;
}

/* Shortened URL Display */
.shortened-url {
  background-color: #e9ecef;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.shortened-url a {
  color: #007bff;
  font-weight: 600;
  text-decoration: none;
}

.shortened-url a:hover {
  text-decoration: underline;
}
